# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*

# Uploads
public/uploads/
server/public/uploads/

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
